<!DOCTYPE html>
<html>
<head>
    <title>文件监控系统</title>
    <link href="./static/css/style.css" rel="stylesheet">
    <!--    <script src="./static/lib/echarts.min.js"></script>-->
</head>
<body>
<div class="container">
    <!-- 客户端状态面板 -->
    <div id="client-status" class="card">
        <h2>📡 客户端在线状态</h2>
        <div style="height:400px">

            <span class="label">活跃客户端数:</span>
            <!--            <span class="value">{{ active_users }}</span>-->
            <div id="client_list"></div>

        </div>

    </div>

    <!-- 实时事件流 -->
    <div id="event-stream" class="card">
        <h2>📋 最新文件事件</h2>
        <div id="events-list"></div>
        <h1 id="liveTime">Loading time...</h1>
    </div>
</div>
<h1>服务器时间：<span id="timestamp">加载中...</span></h1>

</body>
<script src="/static/js/sse.js" type="text/javascript"></script>
</html>